/*Content First - Mobile First */
    /*Reglas Generales*/
    *{
        box-sizing: border-box;
        font-family: 'Segoe UI','caliri',sans-serif;
    }
    body,
    h1,
    h2,
    h3{
        margin: 0;
    }